# Object files
*.o
*.obj
*.lo
*.slo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (shared libraries)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE-specific files
*.DS_Store
*.vscode/
*.vscode/*
*.suo
*.user
*.aps
*.pch
*.vs
*.ncb
*.opensdf
*.sdf
*.vcxproj*
*.vcproj*
*.pidb
*.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeLists.txt.user

# Build directories
build/
Debug/
Release/
x64/
x86/

[oO]bj
[bB]in
.idea
